.root {
  .land {
    @apply flex gap-12 py-8 justify-center;
    & > div {
      @apply flex flex-col justify-between pt-16 w-[545px];
      .title {
        @apply text-[40px] font-bold text-[#7781C9];
      }
      .subTitle {
        @apply text-6xl font-bold text-[#3E4598] leading-tight;
      }
      .content {
        @apply text-[#3E4598CC];
      }
      .buttonBar {
        @apply flex gap-6 font-bold;
      }
    }
  }

  .figures {
    @apply flex items-center gap-x-20 justify-center my-24;

    & > div {
      @apply flex flex-col items-center;

      & > span {
        @apply text-[2.5rem] font-bold;
      }
      & > label {
        @apply text-lg;
      }
    }
  }
  .states {
    @apply grid grid-cols-2 bg-[#D7DDFB] rounded-[20px] px-28 pt-12 pb-16 gap-y-14 relative z-0 overflow-hidden mb-16;

    &:after {
      content: "Real-time Stats";
      @apply absolute text-[100px] text-white/50 right-0 -bottom-12 z-[-1];
    }

    & > .state {
      @apply flex items-center gap-x-8;

      .value {
        @apply flex flex-col gap-y-2.5;

        .label {
          color: #353d9b;
          opacity: 0.6;
          font-weight: 500;
        }

        div {
          @apply flex gap-x-5 font-bold text-2xl;

          span {
            font-size: 1rem;
            color: #353d9b;
            opacity: 0.6;
            font-weight: 500;
          }
        }
      }
    }
  }
  .carousel {
    background-image: url("assets/images/png/carousel.png");
    background-repeat: no-repeat;
    background-size: 100%;
    @apply -mx-[7.5rem];
    .title {
      @apply text-center text-4xl py-10 font-bold text-[#353D9B];
    }
    .arrow {
      @apply bg-white/50 w-8 h-8 flex justify-center items-center rounded-full absolute top-1/2 -translate-y-[48px] cursor-pointer;
    }
    .Left {
      @apply right-20;
    }
    .Right {
      @apply left-20;
    }
    .dots {
      @apply flex justify-center py-8;
    }
    .dot {
      @apply border-none w-[10px] h-[10px] bg-[#c5c5c5] rounded-full mx-[5px] p-[5px] cursor-pointer;
      &:focus {
        @apply outline-none;
      }
    }
    .active {
      @apply bg-[#353D9B];
    }
  }
}
