.root {
  @apply flex flex-col w-fit relative z-[5];
  align-items: flex-start !important;

  .selection {
    @apply flex items-center justify-between pl-6 pr-5 h-20 border border-pro-blue bg-raisin-black z-10 cursor-pointer;

    @screen md {
      @apply w-[460px];
    }

    span {
      @apply text-tangerine-yellow;
    }

    button {
      @apply bg-white/30 ml-5 hover:bg-white/40;
    }
  }

  .collections {
    @apply w-full flex flex-col absolute bg-raisin-black z-0 animate-enter border-pro-blue border;
    top: calc(100% - 33px);
    .searchBox {
      @apply flex flex-col mt-8 px-5 pt-2 pb-3.5 bg-smoky-black;

      .count {
        @apply flex items-center;
        svg {
          @apply mr-2;
        }
      }

      input {
        @apply mt-2 border-white/50 !important;
      }
    }

    .list {
      .row {
        @apply p-2 md:px-5 md:pt-4 flex flex-wrap items-center cursor-pointer hover:bg-white/5 duration-75;

        img {
          @apply w-12 h-12 md:w-[60px] md:h-[60px] mr-2 md:mr-3.5;
          border: 1px solid rgba(245, 245, 245, 0.5);
          border-radius: 4px;
        }

        a {
          @apply flex items-center text-tangerine-yellow;

          span {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;

            max-width: 90px;

            @screen md {
              max-width: 180px;
            }
          }
          svg {
            @apply ml-1 md:ml-2;
          }
        }

        .floorPrice {
          @apply px-1 md:px-2.5 md:py-1 ml-auto flex items-center rounded-full bg-white/30  font-bold;
          svg {
            @apply ml-1.5;
          }
        }

        .checkbox {
          @apply ml-2;
        }

        hr {
          @apply mt-4;
          opacity: 0.3;
          border: 1px solid rgba(245, 245, 245, 0.5);
        }
      }
    }
  }
}
