.root {
  @apply flex flex-col md:grid md:items-center px-2 md:px-7 mt-2 md:mt-6;
  grid-template-columns: 20% 25% 13% 13% 29%;

  & > div {
    @apply mx-4 md:mx-0 flex items-center flex-wrap;

    .label {
      @apply md:hidden opacity-70 mr-auto;
    }

    .avatar {
      @apply w-8 h-8 rounded-full bg-white/5 ml-0 mr-1;
    }

    & > svg {
      @apply ml-1.5;
    }

    & > a {
      @apply ml-auto;

      & > button {
        @apply md:w-[140px] md:h-10;
        & > svg {
          @apply ml-1.5;
        }
      }
    }
  }

  & > div:first-child {
    @apply md:pl-9;
  }

  hr {
    @apply col-span-5 mt-3;
    opacity: 0.15;
    border-top: 1px solid rgba(245, 245, 245);
  }
}
