.root {
  @apply flex flex-col;

  .poolInfo {
    @apply p-2 md:px-5 md:py-6 bg-raisin-black flex flex-wrap justify-center md:grid;
    grid-template-columns: 13% 20% 15% 10% 12% 20% 10%;

    & > span {
      @apply flex items-center gap-1.5 px-4 md:px-0 w-full;

      .label {
        @apply flex md:hidden mr-auto opacity-70;
      }

      .avatar {
        @apply w-8 h-8 rounded-full bg-white/5 ml-0 mr-1;
      }

      & > svg {
        @apply ml-1.5;
      }
    }
    & > span:last-child {
      @apply justify-end;
    }

    .actions {
      @apply flex gap-2.5;
      button {
        @apply w-10 h-10 hover:bg-white/40;
      }

      & > *:last-child {
        @apply mr-4;
      }
    }
  }
  .loanlist {
    @apply flex flex-col bg-raisin-black duration-150 animate-enter;

    hr {
      @apply block md:hidden;
    }
    .header {
      @apply px-5 py-2.5 bg-white/10 hidden md:grid;
      grid-template-columns: 23% 10% 15% 10% 11% 16% 15%;

      div {
        span:first-child {
          @apply opacity-50;
        }

        span:last-child {
          @apply font-bold flex items-center gap-2;
        }
      }
    }

    .hr {
      @apply mx-6 bg-white/40 h-[1px];
    }
  }
}
